flows.json
[{"id":"910cd450.ff8f18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"40a68ac3.bfbd44","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"5a8e87c4.e10648","type":"ui_group","z":"","name":"Students Performance In Exam (Grade Analysis)","tab":"40a68ac3.bfbd44","order":1,"disp":true,"width":"8","collapse":false},{"id":"fccccb73.8ff858","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bd46d57d.0946e8","type":"ui_tab","z":"","name":"Student Performance in Exam ( Grade Analysis )","icon":"dashboard","disabled":false,"hidden":false},{"id":"cc507a88.4c7908","type":"ui_group","z":"","name":"Students Performance In Exam (Grade Analysis)","tab":"40a68ac3.bfbd44","order":2,"disp":true,"width":"6","collapse":false},{"id":"8550493b.852cf8","type":"function","z":"910cd450.ff8f18","name":"PreToken","func":"global.set(\"gen\",msg.payload.gen)\nglobal.set(\"rcet\",msg.payload.rcet)\nglobal.set(\"ple\",msg.payload.ple)\nglobal.set(\"lunch\",msg.payload.lunch)\nglobal.set(\"tpc\",msg.payload.tpc)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ws\",msg.payload.ws)\nglobal.set(\"mps\",msg.payload.mps)\nglobal.set(\"rps\",msg.payload.rps)\nglobal.set(\"wps\",msg.payload.wps)\nglobal.set(\"ops\",msg.payload.ops)\nglobal.set(\"tm\",msg.payload.tm)\nglobal.set(\"p\",msg.payload.p)\nvar apikey=\"BPkCZKQbh5gE4UAVggMJVgxjF9Utdnc8Y5pttE9NbzkE\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":480,"wires":[["a00b43d.ae45fc"]]},{"id":"a00b43d.ae45fc","type":"http request","z":"910cd450.ff8f18","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":380,"wires":[["a5f78e73.b8984"]]},{"id":"a5f78e73.b8984","type":"function","z":"910cd450.ff8f18","name":"Pre Prediction","func":"var gen = global.get('gen')\nvar rcet = global.get('rcet')\nvar ple = global.get('ple')\nvar lunch = global.get('lunch')\nvar tpc = global.get('tpc')\nvar ms = global.get('ms')\nvar rs = global.get('rs')\nvar ws = global.get('ws')\nvar mps = global.get('mps')\nvar rps = global.get('rps')\nvar wps = global.get('wps')\nvar ops = global.get('ops')\nvar tm = global.get('tm')\nvar p = global.get('p')\nvar token=msg.payload.access_token\nvar instance_id=\"0946c585-c9b8-417c-8800-cf848484cd74\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"gender\", \"race/ethnicity\", \"parental level of education\", \"lunch\", \"test preparation course\", \"math score\", \"reading score\", \"writing score\", \"Math_PassStatus\", \"Reading_PassStatus\", \"Writing_PassStatus\", \"OverAll_PassStatus\", \"Total_Marks\", \"Percentage\"], \"values\": [[gen,rcet,ple,lunch,tpc,ms,rs,ws,mps,rps,wps,ops,tm,p]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":240,"wires":[["12bd5e3.20513a2"]]},{"id":"12bd5e3.20513a2","type":"http request","z":"910cd450.ff8f18","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f14858bc-1f7f-4679-8ac9-352ee25771a4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":380,"wires":[["526235ee.2a15ec"]]},{"id":"526235ee.2a15ec","type":"function","z":"910cd450.ff8f18","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":480,"wires":[["7b812252.1656ac","7270c5b9.03f13c"]]},{"id":"7b812252.1656ac","type":"ui_text","z":"910cd450.ff8f18","group":"5a8e87c4.e10648","order":1,"width":0,"height":0,"name":"","label":"Grade","format":"{{msg.payload}}","layout":"row-spread","x":1410,"y":560,"wires":[]},{"id":"2acb6407.26033c","type":"ui_form","z":"910cd450.ff8f18","name":"","label":"RSIP Career Basic ML 039","group":"5a8e87c4.e10648","order":0,"width":0,"height":0,"options":[{"label":"gender","value":"gen","type":"text","required":true,"rows":null},{"label":"race/ethnicity","value":"rcet","type":"text","required":true,"rows":null},{"label":"parental level of education","value":"ple","type":"text","required":true,"rows":null},{"label":"lunch","value":"lunch","type":"text","required":true,"rows":null},{"label":"test preparation course","value":"tpc","type":"text","required":true,"rows":null},{"label":"math score","value":"ms","type":"number","required":true,"rows":null},{"label":"reading score","value":"rs","type":"number","required":true,"rows":null},{"label":"writing score","value":"ws","type":"number","required":true,"rows":null},{"label":"Math_PassStatus","value":"mps","type":"text","required":true,"rows":null},{"label":"Reading_PassStatus","value":"rps","type":"text","required":true,"rows":null},{"label":"Writing_PassStatus","value":"wps","type":"text","required":true,"rows":null},{"label":"OverAll_PassStatus","value":"ops","type":"text","required":true,"rows":null},{"label":"Total_Marks","value":"tm","type":"number","required":true,"rows":null},{"label":"Percentage","value":"p","type":"number","required":true,"rows":null}],"formValue":{"gen":"","rcet":"","ple":"","lunch":"","tpc":"","ms":"","rs":"","ws":"","mps":"","rps":"","wps":"","ops":"","tm":"","p":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":560,"wires":[["8550493b.852cf8"]]},{"id":"7270c5b9.03f13c","type":"debug","z":"910cd450.ff8f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":380,"wires":[]}]